thead,
tr {
  display: table;
  table-layout: absolute;
  width: 100%;
  /* position: absolute;
  border: none;
  bottom: 10%;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome; */
}
tbody {
  display: table;
  color: black;
  overflow-y: auto;
}

th {
  display: table;
  width: 200%;
}
